@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    
    
}

#root {
    background-color: white;
    margin: auto;
}

@media only screen and (max-width: 499px) {
    #root {
        background-color: white;

        width: 100vw;
    }

    img {
       
        width:100%;
        border-radius: 15px;
        object-fit: cover;
        
    }
    

}