.info_wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: 5em;

}

.host_info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 10px;

}
.host_pic {
    border-radius: 50%;
}