


@media only screen and (min-width: 500px) {
    .grid_items {
        display: flex;
        
        text-align: left;
        align-items: flex-end;
        width: 340px;
        height: 360px;
        position: relative
    
    };
    
    .card_cover {
        width:100%;
        height: 100%;
        object-fit: cover;
       
        
    };
    
    P{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .card_title {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: white;
    }
    
    .linkDiv {
       
        width:100%;
        height:100%;
    }

}

.linkDiv {
       
    width:100%;
    
}




@media only screen and (max-width: 499px) {


    .grid_items {
        display: flex;
        text-align: left;
        align-items: flex-end;
        width: 99%;
       
        position: relative;
    };
    
    .card_cover {
        width:100%;
        height: 100%;
        object-fit: cover;
       
        
    };


    
    
    P{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .card_title {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: white;
    }
    .link > img {
       width: 100%;
       height: 255px;
       border-radius: 15px;
       object-fit: cover;
    
    };

    .card_title {
        max-width: 80%;
    }

}
